@font-face {
    font-family: Planet;
    src: url(../font/planetncompact.ttf);
}
@font-face {
    font-family: Fundation;
    src: url(../font/FoundationLogo-v0.3.ttf);
}


$fuente-principal:'Fundation';
$fuente-secondaria:'Planet';
$fuente-textos:'Roboto', sans-serif;
$color-font :#DEE7EB;
$negro:#000;
$background:rgb(36,37,48);
$background-gradient:linear-gradient(180deg, rgba(36,37,48,1) 0%, rgba(36,35,48,1) 25%, rgba(31,30,44,1) 50%, rgba(20,21,32,1) 75%, rgba(16,17,28,1) 100%);